<p>
    Hi boss,
</p>
<p>
    an error occured at <%= @info["created_at"] %>
</p>

<% @info.each do |key, value| %>
  <% next if value.blank? %>
  <p>
    <%= key.upcase %><br/>
    <%= value %>
  </p>

<% end %>
